
@{
    ViewBag.Title = "من نحن";
}

<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <style>
        @@media only screen and (min-device-width:0px) and (max-device-width:480px) {


            .breadcrumbs h2 {
                font-size: x-large;
            }
        }
    </style>
</head>
<body>
    <main id="main">

        <div class="breadcrumbs d-flex align-items-center" style="background-image: url('../assets/img/breadcrumbs-bg.jpg');">
            <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

                <h2>من نحن</h2>
                <ol>
                    <li><a href="https://localhost:44305/Home/Index">الرئيسيه</a></li>
                    <li>من نحن</li>
                </ol>

            </div>
        </div><!-- End Breadcrumbs -->

        <form id="form1" runat="server">
            <div>
                <div class="bg-light">
                    <div class="container py-5">
                        <div class="row h-100 align-items-center py-5">
                            <div class="col-lg-6">

                                <h1 class="lead text-muted mb-0" style="direction: rtl">نسعد جدا بحبك لمعرفتنا والاهتمام بتفاصيل موقعنا ....</h1>
                                <h2 class="lead text-muted" style="direction: rtl">


                                    نتلقى من عملائنا أفكارهم لمشاريعهم وننقلها إليهم للواقع ، بمجرد أن يختاروا منا أفضل العمال وأمهر الأشخاص الذين يعملون لدينا
                                    <a href="https://localhost:44305/Servicessesuser/ser" class="text-muted">
                                        <br />
                                        <u style="direction: rtl; color: #cccc28">الأعمال التي نقدمها</u>
                                    </a>
                                </h2>
                            </div>
                            <div class="col-lg-6 d-none d-lg-block">
                                <img src="~/assets/img/aa.jpg" alt="" class="img-fluid" style="border-radius:40%;">

                            </div>

                        </div>
                    </div>
                </div>

                <div class="bg-white py-5">
                    <div class="container py-5">
                        <div class="row align-items-center">
                            <div class="col-lg-5 px-5 mx-auto">
                                <img src="~/assets/img/aaaa.jpg" alt="" class="img-fluid mb-4 mb-lg-0" style="border-radius:10%;">
                            </div>
                            <div class="col-lg-6">
                                <h1 class="font-weight-light" style="direction: rtl">
                                    خدماتنا المتاحة:
                                </h1>

                                <h4 class="font-italic text-muted mb-4" style="direction: rtl">
                                    1-البناء.
                                    <br />
                                    2-الطلاء.
                                    <br />
                                    3-البلاط.
                                    <br />
                                    4- تصميم المطبخ.
                                    <br />
                                    5-الديكور الداخلي.
                                    <br />
                                    6- تمديد الكهرباء.
                                    <br />
                                    7-تمديد المياه.
                                    <br />
                                    8-تمديد الصرف الصحي.


                                </h4>
                            </div>
                        </div>


                    </div>
                    <div class="row align-items-center mb-5" style="margin-left:5%;">
                        <div class="col-lg-6 order-2 order-lg-1">
                            <h2 class="font-weight-light" style="direction: rtl">
                                نجعل الأحلام والأفكار تتحقق
                            </h2>

                            <p class="font-italic text-muted mb-4" style="direction: rtl">هنا يمكنك بناء منزل أحلامك من الألف إلى الياء ، أو بناء شركتك أو متجرك أو أي مشروع تحلم به، ستتمكن حتى من تجديد منزلك أو الاضافة علية او تعديلة ... كل هذه سيتم العثور عليها لدينا.</p>

                        </div>
                        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="~/assets/img/a.jpg" alt="" class="img-fluid mb-4 mb-lg-0" style="border-radius:40%;"></div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-5 px-5 mx-auto">
                            <img src="~/assets/img/end.jpg" alt="" class="img-fluid mb-4 mb-lg-0" style="border-radius:10%;">
                        </div>
                        <div class="col-lg-6">

                            <p class="lead text-muted">
                                تواصل معنا وأخبرنا برأيك بنا وبخدماتنا ونتمنى أن نكون قد نلنا اعجابك  <br /><br /><a href="https://localhost:44305/Home/Contact" class="btn btn-light px-5 rounded-pill shadow-sm" style="background-color: #cccc28">تواصل بنا</a>

                            </p>
                        </div>
                    </div>
                </div>

        </form>

    </main>
</body>
</html>