
@{
    ViewBag.Title = " تصميم";
}


<style>
    @@media only screen and (min-device-width:0px) and (max-device-width:480px) {


        .breadcrumbs h2 {
            font-size: x-large;
        }
    }
</style>
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('../assets/img/sample/ampl.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

            <h2>تصميم المشاريع </h2>
            <ol>
                <li><a href="https://localhost:44305/Home/Index">الرئيسيه</a></li>
                <li> تصميم</li>
            </ol>

        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Service Details Section ======= -->
    <section id="service-details" class="service-details">
        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">
                <h1 style="text-align: center;">أفضل 12 برنامج و تطبيق مجاني لتصميم و فرش المنازل و المباني</h1>
                <div class="col-lg-4">
                    <div class="services-list">
                        <p style="direction: rtl">
                            إليك مجموعة من افضل برامج تصميم و تأثيث أو فرش المنازل التي يمكنك استخدامها مجاناً دون تحمل أي تكاليف إضافية
                            "بمجرد الضغط على احدى الخيارات المتاحة سينقلك على الفور الى برنامج التصميم"
                        </p>
                        <ul>
                            <li><i class="bi bi-check-circle"></i> <span><a href="https://roomstyler.com/3dplanner">Roomstyler 3D Home Planner</a></span></li>
                            <li><i class="bi bi-check-circle"></i> <span><a href="https://planner5d.com/e">Planner 5D</a></span></li>
                            <li><i class="bi bi-check-circle"></i> <span><a href="https://www.ikea.com/eg/en/planners/">Ikea Home Planner</a></span></li>
                            <li><i class="bi bi-check-circle"></i> <span><a href="https://www.ikea.com/ms/en_US/rooms_ideas/splashplanners_new.html">Ikea Kitchen Planner</a></span></li>
                            <li><i class="bi bi-check-circle"></i> <span><a href="https://www.homestyler.com/">Autodesk Homestyler</a></span></li>
                            <li><i class="bi bi-check-circle"></i> <span><a href="http://www.sweethome3d.com/">Sweet Home 3D</a></span></li>
                            <li><i class="bi bi-check-circle"></i> <span><a href="https://www.smartdraw.com/floor-plan/floor-plan-designer.htm?id=351200&gclid=CM3SxbO1vKMCFSUXswodoRSLcQ">SmartDraw</a></span></li>
                            <li><i class="bi bi-check-circle"></i> <span><a href="https://home.by.me/en/">HomeByMe</a></span></li>
                            <li><i class="bi bi-check-circle"></i> <span><a href="https://gallery.roomsketcher.com/">Room Sketcher</a></span></li>
                            <li><i class="bi bi-check-circle"></i> <span><a href="https://www.3dream.net/">3Dream</a></span></li>
                            <li><i class="bi bi-check-circle"></i> <span><a href="https://www.floorplanner.com/demo">Floor Planner</a></span></li>
                            <li><i class="bi bi-check-circle"></i> <span><a href="https://www.roomle.com/en">Roomle</a></span></li>
                        </ul>
                    </div>

                </div>
                <br /><br />
                <div class="col-lg-8">
                    <h4 style="direction: rtl">
                        أمر رائع أن نكون قادرين على تصميم منازلنا بأنفسنا من حيث المساحة الداخلية و التصميم و الدهانات و وضع قطع الأثاث،
                        في الحقيقة لم يعد هذا أمراً صعباً فهناك العديد من البرامج و تطبيقات تصميم المنازل المجانية
                        التي يمكنها مساعدتنا في آداء هذه المهمة بسهولة ويسر .
                        لن تحتاج إلى معرفة مسبقة بالتصميم أو الديكور ,
                        يمكنك تصميم شقتك أو منزلك بالشكل الذي تحب ثم يمكنك بعدها إضافة لمسات الديكور و قطع الأثاث لتحصل على المظهر الذي ترغب فيه تماماً كما تريده.
                    </h4><br /><br />
                    <img src="../assets/img/add.jpg" alt="" class="img-fluid services-img" />


                </div>

            </div>

        </div>
    </section><!-- End Service Details Section -->

</main>

