
@{
    ViewBag.Title = " طرز البناء ";
}



<style>
    p {
        font-size: small;
        direction: rtl
    }

    h2 {
        direction: rtl
    }
</style>
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('../assets/img/sample/ampl.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

            <h2>طرز البناء</h2>
            <ol>
                <li><a href="https://localhost:44305/Home/Index">الرئيسية</a></li>
                <li>طرز البناء</li>
            </ol>

        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Constructions Section ======= -->
    <section id="constructions" class="constructions">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>صور لبعض الطرز والتصاميم التي يقدمونها عمالنا </h2>
                <p> اختيار الطراز الذي ستقوم بانشاء مشروعك علية يعكس ذوق المستخدم وابداع العامل </p>
            </div>

            <div class="row gy-4">

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="card-item">
                        <div class="row">
                            <div class="col-xl-5">
                                <div class="card-bg" style="background-image: url(../../assets/img/sample/refe.jpg);"></div>
                            </div>
                            <div class="col-xl-7 d-flex align-items-center">
                                <div class="card-body">
                                    <h4 class="card-title">طراز العمارة الريفي</h4>
                                    <p>الطراز الريفى : ينبع هذا الطراز من الشعور بالراحه حيث ان جميع الانواع من هذا الطراز تشعر بالراحه النفسيه والدفء والحميميه وهذا يرجع الى تكوين عناصره من الطبيعه وهذا ما نراه فى الوانه محايده دافئه حيث تتدرج من الابيض والبيج والرمادى والبرونز بجميع درجتهم مع امكان مزجهم مع بعض الالوان الفاتحه مع استخدام جذوع الاشجار فى الاسقف والاكسسوارت المستخدم فى الاثاث الملىء بالكنب والوسائد والكراسى واضافة روح الطبيعه فى المفروشات والمنسوجات المنقوشه بالنباتات الطبيعيه وهذا ما يضح لنا فى كل نوع من انواع الطراز الريفى</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="card-item">
                        <div class="row">
                            <div class="col-xl-5">
                                <div class="card-bg" style="background-image: url(../../assets/img/sample/klass.jpg);"></div>
                            </div>
                            <div class="col-xl-7 d-flex align-items-center">
                                <div class="card-body">
                                    <h4 class="card-title">طراز العمارة الكلاسيكي</h4>
                                    <p>
                                        الطراز الكلاسيكى : يتميز الطراز الكلاسيكى بالاتزان والاهتمام بالتفاصيل والانسجام بين عناصر الديكور بالاضافة الى الفخامه والذوق الرفيع وهذا مايظهر لنا فى الوان الجدران والحوائط التى تتميز دائما بالالوان الفاتحه المتناسقه مع بعضها البعض والتى تشع اضاءة ودافء للمكان مع الاثاثات المزخرفه ذو الالوان الداكنه الذهبيه والتحف الفاخره ثمينة الثمن مع الوضع فى الحسبان ابعاد ومساحة الغرف لتنسيق كل

                                        هذا بشكل منظم مع الستائر والمنسوجات السميكه المنقوشه
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="card-item">
                        <div class="row">
                            <div class="col-xl-5">
                                <div class="card-bg" style="background-image: url(../../assets/img/sample/newo.jpg);"></div>
                            </div>
                            <div class="col-xl-7 d-flex align-items-center">
                                <div class="card-body">
                                    <h4 class="card-title">طراز العمارة الحديثة</h4>
                                    <p>
                                        عدم وجود زخرفة: حيث يتم التخلص من القوالب الزخرفية والتشطيبات المتقنة أو تبسيطها إلى حد كبير، مما يفسح المجال لجماليات نظيفة حيث تلتقي المواد في مفاصل بسيطة جيدة التنفيذ.

                                        التأكيد على الأشكال المستطيلة والخطوط الأفقية والعمودية : أشكال المنازل هي مربعات قائمة أو مربعات مرتبطة. فغالبًا ما تُستخدم المواد في مستويات محددة جيدًا وأشكال رأسية جنبًا إلى جنب مع العناصر الأفقية للحصول على تأثير درامي.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="card-item">
                        <div class="row">
                            <div class="col-xl-5">
                                <div class="card-bg" style="background-image: url(../../assets/img/sample/sm.jpg);"></div>
                            </div>
                            <div class="col-xl-7 d-flex align-items-center">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        طراز العمارة الإسلامية
                                    </h4>
                                    <p>
                                        تُعَّرف العمارة الإسلاميّة بأنها نوع من العمارة المُعتمدة على الفنون والتقاليد الإسلاميّة، شاع استخدامها في القرن السابع في دول الشرق الأوسط تحديداً، ويتم تجسيدها في المساجد والمدارس. من الأمثلة القديمة عليها مسجد قبّة الصخرة الموجود في مدينة القُدس والمسجد الكبير الموجود في دِمَشق، بالإضافة للمعالم المسيحيّة المتمثّلة بالقِباب والفُسيفساء، كما وجدت معالم العمارة الإسلاميّة في قُصور المَغول مثل تاج محل الموجود في الهند، وفي المعالم العُثمانيّة مثل مسجد السليميّة الذي يمتاز بمآذنهِ الرقيقة المُحيطة بالقُبّة المركزيّة الكبيرة.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Card Item -->

            </div>

        </div>
    </section><!-- End Constructions Section -->


</main><!-- End #main -->
